---
title: Links
layout: page
---

你好，我是耀光，很高兴你能来到这里！

<main class="g-container home-content">
   <div class="article-list">

   <br />

   {% for link in site.data.link.links %}
   {% if link.status %}

   <article class="article-item">
      <img src="{{ link.avatar }}"><h3>{{ link.name }}</h3>
      <p>{{ link.desc }}</p>
      <a href="{{ link.link }}">{{ link.link }}</a>
   </article>

   <br />

   {% else %}

   <div class="article-item">
      <del>
          <h3>{{ link.name }}</h3>
      </del>
      <del><a href="{{ link.link }}">{{ link.link }}</a></del>（不可访问）
   </div>

{% endif %}
{% endfor %}

</div>
</main>

<style>
   img, h3{
      display: inline;
      align: left;
      height: 20%
   }
   img{ width:15% }
</style>
